@charset "UTF-8";
@import url("step-prepare.css");
@import url("step-video.css");

html, body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Segoe Script";
	src: url("../../lib/webfonts/segoesc.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.scene {
	display: none;
}
