#step-album {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
}

#step-album .enter-step-reset {
	position: fixed;
	left: 20px;
	top: 20px;
	color: white;
	font-family: "Segoe Script";
	font-size: 1.5em;
	cursor: pointer;
}

#photofy-frame {
	position: absolute;
	width: 1006px;
	height: 605px;
	top: 50%;
	left: 50%;
	margin-top: -303px;
	margin-left: -502px;
	background-color: white;
}

#photofy {
	position: relative;
	width: 1006px;
	height: 605px;
}

#photofy a {
	color: #1f90c5;
}

#photofy a.photofy_overlay_close {
	font-size: 12px;
}

#photofy a.photofy_thumbnail {
	border: 1px solid #eee;
	display: block;
	float: left;
	text-decoration: none;
	width: 200px;
	height: 150px;
	margin: 0 -1px -1px 0;
}

#photofy a img {
	border: none;
	width: 100%;
	height: 100%;
}