@CHARSET "UTF-8";

@import url("snow.css");
@import url("message.css");

html, body {
	margin: 0;
	padding: 0;
}


.step-frame {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
