@CHARSET "UTF-8";
#step-conversation .background {
	background: url('../images/foreground.png') 5% 5%, url('../images/midground.png') 50% 50%, url('../images/background.png') 90% 110%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: left 300s linear;
	z-index: 1;
}

#step-conversation #message-pane {
	position: fixed;
	top: 45%;
	width: 100%;
	text-align: center;
	z-index: 50;
}

#step-conversation .messages {
	display: none;
	color: white;
	font-family: "楷体";
	font-size: 22px;
	letter-spacing: 0.2em;
}

#step-conversation .messages .big {
	font-size: 32px;
}

#step-conversation .messages .red {
	color: red;
	font-weight: bold;
}