@CHARSET "UTF-8";

#step-snow {
	background-color: black;
}

#step-snow #snow-pane {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

#step-snow #snow-pane .snow {
	position: fixed;
	background: -webkit-radial-gradient(white, rgba(255, 255, 255, 0));
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

#step-snow #snow-pane #music {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

#step-snow .background {
	background: url("../images/bg.jpg");
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#step-snow article {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 100px;
	margin-left: 150px;
	z-index: 2;
}

#step-snow article header {
	color: #ffff33;
	text-shadow: 5px 3px 5px black;
	font-size: 40px;
	font-family: "Microsoft YaHei";
	letter-spacing: 0.2em;
	display: none;
}

#step-snow article .lyric {
	color: white;
	text-shadow: 3px 1px 5px black;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	letter-spacing: 0.2em;
	margin-left: 50px;
	margin-top: 50px;
	display: none;
}

#step-snow article .lyric .en {
	letter-spacing: 0;
	font-family: Verdana;
}

#step-snow article .lyric .red {
	color: #ff3333;
	display: inline-block;
	font-weight: bold;
	font-size: 32px;
	-webkit-transition: all 1s;
}

#step-snow article footer {
	position: fixed;
	right: 20px;
	bottom: 10px;
	color: white;
	font-size: 18px;
	font-family: Vivaldi, "Freestyle Script", Verdana;
	text-shadow: 2px 2px 5px black;
}