#step-snow {
	background-color: black;
}

#snow-pane {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.snow {
	position: fixed;
	background: -webkit-radial-gradient(white, rgba(0, 0, 0, 0));
}
